<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Ana Sayfa</a>
</li>
<li class="nav-item float-end">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Categories" asp-action="Index">Kategoriler</a>
</li>
<li class="nav-item float-end">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Authors" asp-action="Index">Yazarlar</a>
</li>
<li class="nav-item float-end">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Books" asp-action="Index">Kitaplar</a>
</li>
